// unsplash__wrap
.unsplash__wrap {
    overflow: hidden;

}
.unsplash__inner {
    height: 600px;
    
    h3 {
        font-size: 50px;
        font-weight: 700;
        margin-bottom: 50px;
    }
    p {
        font-size: 24px;
        font-weight: 500;
        margin-bottom: 30px;
    }
    a {
        padding: 15px 60px;
        background-color: #446EEA;
        color: #fff;
        font-weight: 500;
        border-radius: 30px;
    }

    .unsplash__item {
        margin-top: 70px;
        display: flex;
        justify-content: space-between;
        position: absolute;
        
        > div {
            width: 400px;
            margin-right: 20px;

            > img{
                width: 100%;
                border-radius: 10px;
            }
        }
        
        
        
    }
}