// intro__wrap
.intro__wrap {}
.intro__inner {
   display: flex;
   justify-content: space-between;
}
.intro__title {
    width: 33%;
    span {
        background-color: #FF3344;
        font-size: 14px;
        padding: 4px 30px 2px;
        color: #fff;
        border-radius: 40px;
        text-transform: uppercase;
        margin-bottom: 10px;
        display: inline-block;
    }
    h3 {
        font-size: 50px;
        font-weight: 700;
        line-height: 1.2;
        margin-bottom: 30px;
    }
    p {
        font-size: 18px;
        line-height: 1.5;
        font-weight: 500;
    }
}
.intro__desc {
    width: 66%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    > div {
        width: 48%;
        // background-color: #ccc;
        margin-bottom: 40px;
        > h4 {
            display: inline-block;
            font-size: 24px;
            margin-bottom: 15px;
            font-weight: 700;
            // position: relative;
            // padding-top: 75px;
            // &:before {
            //     content: '';
            //     width: 60px;
            //     height: 60px;
            //     border-radius: 50%;
            //     background-size: 70%;
            //     background-position: center;
            //     background-repeat: no-repeat;
            //     position: absolute;
            //     left: 0;
            //     top: 0;
            // }
            
        }
        > p {
            font-size: 18 px;
            font-weight: 500;
        }
        &:nth-child(1){
            margin-bottom: 15px;
        }
        // &:nth-child(1){
        //     h4 {
        //         &::before {
        //             background-color: #d2f8c6;
        //             background-image: url(../../images/textType01_01.svg);
        //         }
        //     }
        // }
        // &:nth-child(2){
        //     h4 {
        //         &::before {
        //             background-color: #ffcaca;
        //             background-image: url(../../images/textType01_02.svg);
        //         }
        //     }
        // }
        // &:nth-child(3){
        //     h4 {
        //         &::before {
        //             background-color: #fdf6b9;
        //             background-image: url(../../images/textType01_03.svg);
        //         }
        //     }
        // }
        // &:nth-child(4){
        //     h4 {
        //         &::before {
        //             background-color: #fdd7fb;
        //             background-image: url(../../images/textType01_04.svg);
        //         }
        //     }
        // }
    }
}