// intro__wrap
.intro__wrap {}
.intro__inner {
   display: flex;
   justify-content: space-between;
}
.active {
    display: flex !important;
}
.intro__title {
    width: 33%;
    span {
        background-color: #FF3344;
        font-size: 14px;
        padding: 4px 30px 2px;
        color: #fff;
        border-radius: 40px;
        text-transform: uppercase;
        margin-bottom: 10px;
        display: inline-block;
    }
    h3 {
        font-size: 50px;
        font-weight: 700;
        line-height: 1.2;
        margin-bottom: 30px;
    }
    p {
        font-size: 18px;
        line-height: 1.5;
        font-weight: 500;
    }
}
.intro__desc {
    width: 66%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    > div {
        width: 48%;
        // background-color: #ccc;
        margin-bottom: 40px;
        > h4 {
            display: inline-block;
            font-size: 24px;
            margin-bottom: 15px;
            font-weight: 700;
            // position: relative;
            // padding-top: 75px;
            // &:before {
            //     content: '';
            //     width: 60px;
            //     height: 60px;
            //     border-radius: 50%;
            //     background-size: 70%;
            //     background-position: center;
            //     background-repeat: no-repeat;
            //     position: absolute;
            //     left: 0;
            //     top: 0;
            // }
            
        }
        > p {
            font-size: 18 px;
            font-weight: 500;
        }
        &:nth-child(1){
            margin-bottom: 15px;
        }
        // &:nth-child(1){
        //     h4 {
        //         &::before {
        //             background-color: #d2f8c6;
        //             background-image: url(../../images/textType01_01.svg);
        //         }
        //     }
        // }
        // &:nth-child(2){
        //     h4 {
        //         &::before {
        //             background-color: #ffcaca;
        //             background-image: url(../../images/textType01_02.svg);
        //         }
        //     }
        // }
        // &:nth-child(3){
        //     h4 {
        //         &::before {
        //             background-color: #fdf6b9;
        //             background-image: url(../../images/textType01_03.svg);
        //         }
        //     }
        // }
        // &:nth-child(4){
        //     h4 {
        //         &::before {
        //             background-color: #fdd7fb;
        //             background-image: url(../../images/textType01_04.svg);
        //         }
        //     }
        // }
    }
}


.intro__inner2 {
    display: flex;
    justify-content: center;
    text-align: center;
}
.intro__desc2 {
    width: 50%;
    display: flex;
    justify-content:space-around;
    text-align: center;
    > div {
        width: 10%;
        // background-color: #ccc;
        margin-bottom: 40px;
        display: flex;
        > div {
            display: inline-block;
            font-size: 24px;
            font-weight: 700;

            p{
                margin-left: 7px;
            }

            // position: relative;
            // padding-top: 75px;
            // &:before {
            //     content: '';
            //     width: 60px;
            //     height: 60px;
            //     border-radius: 50%;
            //     background-size: 70%;
            //     background-position: center;
            //     background-repeat: no-repeat;
            //     position: absolute;
            //     left: 0;
            //     top: 0;
            // }
            
        }
        > p {
            font-size: 18 px;
            font-weight: 500;
        }
    }
}
.intro__main {
    width: 100%;
    height: 80vh;
    padding: 60px;
    margin-bottom: 50px;
}
.cursor {
    cursor: pointer;
}
.food1 {
    height: 100%;
    display: none;
    justify-content: space-between;

    .intro__img {
        width: 38%;
        height: 100%;
        background-color: #fff;
        background-image: url("../../images/intro/introImg_01.jpg");
        background-size: cover;
        border-radius: 5px;
    }
    .intro__desc3 {
        width: 60%;
        height: 100%;
        border: 1px solid #666;
        border-radius: 5px;
        
        h3 {
            text-align: center;
            font-size: 50px;
            border-bottom: 1px solid #666;
            background-color: #000;
            color: #fff;
            border-radius: 5px 5px 0 0 ;
        }
        ul {
            padding: 20px 10px;
            li{
                font-size: 20px;
                padding-bottom: 25px;
            }
        }
    }
}
.food2 {
    height: 100%;
    display: none;
    justify-content: space-between;

    .intro__img {
        width: 38%;
        height: 100%;
        background-color: #fff;
        background-image: url("../../images/intro/introImg_02.jpg");
        background-size: cover;
        border-radius: 5px;
    }
    .intro__desc3 {
        width: 60%;
        height: 100%;
        border: 1px solid #666;
        border-radius: 5px;
        
        h3 {
            text-align: center;
            font-size: 50px;
            border-bottom: 1px solid #666;
            background-color: #000;
            color: #fff;
            border-radius: 5px 5px 0 0 ;
        }
        ul {
            padding: 20px 10px;
            li{
                font-size: 20px;
                padding-bottom: 25px;
            }
        }
    }
}
.food3 {
    height: 100%;
    display: none;
    justify-content: space-between;

    .intro__img {
        width: 38%;
        height: 100%;
        background-color: #fff;
        background-image: url("../../images/intro/introImg_03.jpg");
        background-size: cover;
        border-radius: 5px;
    }
    .intro__desc3 {
        width: 60%;
        height: 100%;
        border: 1px solid #666;
        border-radius: 5px;
        
        h3 {
            text-align: center;
            font-size: 50px;
            border-bottom: 1px solid #666;
            background-color: #000;
            color: #fff;
            border-radius: 5px 5px 0 0 ;
        }
        ul {
            padding: 20px 10px;
            li{
                font-size: 20px;
                padding-bottom: 25px;
            }
        }
    }
}
.food4 {
    height: 100%;
    display: none;
    justify-content: space-between;

    .intro__img {
        width: 38%;
        height: 100%;
        background-color: #fff;
        background-image: url("../../images/intro/introImg_04.jpg");
        background-size: cover;
        border-radius: 5px;
    }
    .intro__desc3 {
        width: 60%;
        height: 100%;
        border: 1px solid #666;
        border-radius: 5px;
        
        h3 {
            text-align: center;
            font-size: 50px;
            border-bottom: 1px solid #666;
            background-color: #000;
            color: #fff;
            border-radius: 5px 5px 0 0 ;
        }
        ul {
            padding: 20px 10px;
            li{
                font-size: 20px;
                padding-bottom: 25px;
            }
        }
    }
}

