// movies__wrap
.movies__wrap {
    overflow: hidden;

}
.movies__inner {
    height: 720px;
    
    h3 {
        font-size: 50px;
        font-weight: 700;
        margin-bottom: 50px;
    }
    p {
        font-size: 24px;
        font-weight: 500;
        margin-bottom: 30px;
    }
    a {
        padding: 15px 60px;
        background-color: #FF3344;
        color: #fff;
        font-weight: 500;
        border-radius: 30px;
    }

    .movies__item {
        margin-top: 70px;
        display: flex;
        justify-content: space-between;
        position: absolute;
        
        > div {
            width: 300px;
            height: 600px;
            // background-color: #999;
            margin-right: 20px;

            > img{
                width: 100%;
                border-radius: 10px;
            }
        }       
    }
}
.movie__tag {

    div {
        display: flex;
        justify-content: center;
        margin-top: 100px;
        margin-bottom: 50px;

        button {
            border: 1px solid #f7100D;
            padding: 10px 20px;
            margin: 0 10px;
            color: #000;
            border-radius: 15px;
            background: #fff;
        }
    }
}

//movie__cont 
.movie__cont {
    
    ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        
        li {
            width: 24%;
            position: relative;
            margin-bottom: 2%;
            .title {
                display: inline-block;
                font-size: 20px;
                padding: 3px;

                &:hover {
                    text-decoration: underline;
                    text-underline-position: under;
                }
            }
            .star {
                position: absolute;
                right: 20px;
                top: 20px;
                width: 30px;
                height: 30px;
                background-color: #000;
                text-align: center;
                line-height: 30px;
                border-radius: 50%;
                color: #fff;
                font-size: 12px;
            }
        }
    }
}

// movie__tag
.movie__tag {
    ul {
      display: flex;
      justify-content: center;
      margin-bottom: 50px;
  
      li {
        a {
          display: inline-block;
          border: 1px solid #000000;
          border-radius: 5px;
          padding: 5px 20px;
          margin: 0 10px;
          color: #ec4848;
          cursor: pointer;
          font-weight: 700;
  
          &:hover {
            background-color: #eb7474;
            color: #fff;
          }
        }
      }
      li.active a {
        background-color: #ec4848;
        color: #fff;
      }
    }
  }

// movie__search
.movie__search {
    margin-bottom: 50px;
    text-align: center;
    input {
        border: 1px solid #E8ECF2;
        font-size: 16px;
        padding: 10px 20px;
        border-radius: 50px;
        min-width: 300px;
        margin-right: 10px;
        margin-top: 40px;
    }
    button {
        background-color: #F7100D;
        color: #fff;
        border-radius: 50px;
        padding: 10px;
    }
}

.swiper {
    padding: 20px 0 50px;
}